*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(213, 225, 239, 100%);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container{
    background-color: rgb(255, 255, 255, 100%);
    width: 320px;
    height: 499px;
    margin: 10% auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;    
    
}

.qrCode img{
  width: 288px;
  height: auto;
  border-radius: 10px ;
  margin-top: 16px;
  margin-bottom: 24px;
}

.text{
    margin: 0px 16px 0px 16px;
}

.texteBold{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0px 16px 16px 16px;
    color: rgb(31, 49,79,100%);
}
    
.grayText{
    margin: 0px 16px 0px 16px;
    color: rgb(104, 119, 141, 100%);
    font-weight: 400;
}
